src/main/resources/xsd/myDef.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema  xmlns="http://navarrop.com/bpmn" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://navarrop.com/bpmn">
    <xs:element name="parameter" >
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded" >
        <xs:element ref="value" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="value" type="xs:string" />
</xs:schema>